<template>
    <div class="container">
        <div class="py-5 text-center">
        <h2>Add a New SetTop Box Entry</h2>
        <p class="lead">This is a Test submission form and this text can be replaced with relevant information for the users.</p>
      </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Preview</span></h4>
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                   <div class="card-body">
                    <h5 class="card-title">TiVo STB Details<span class="text-muted col-sm-12 ">{{customerData.customerID}}</span></h5>
                    <table class="table table-striped">
                       <tr>
                        <td>Country</td>
                        <td>{{customerData.name}}</td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td>{{customerData.children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>Area</td>
                        <td>{{customerData.children[0].children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>Sub Area</td>
                        <td>{{customerData.children[0].children[0].children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>ID</td>
                        <td>{{customerData.children[0].children[0].children[0].children[0].ID}}</td>
                      </tr>
                    </table>
                   
                  </div>
                </div>
              </div>

         
        </div>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Customer Details</h4>
          <form class="needs-validation" novalidate >
            <div class="row">
              <div class="col-md-6 mb-3" :class="{ 'control': true }">
                <label for="country">Country</label>
                <input type="text" name="country" class="form-control" id="country" placeholder="Country[India]" v-model="customerData.name">
                <div class="invalid-feedback">
                 
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="city">City</label>
                <input type="text" name="city" class="form-control" id="city" placeholder="" v-model="customerData.children[0].name">
            </div>
            </div>
            <div class="mb-3">
              <label for="area">Area</label>
              <input type="text" name="area" class="form-control" id="area" v-model="customerData.children[0].children[0].name" placeholder="Area" required="">
              <div class="invalid-feedback">
                Please enter your Area.
              </div>
            </div>
            <div class="mb-3">
              <label for="subarea">Sub Area</label>
              <input type="text" v-model="customerData.children[0].children[0].children[0].name" name="subarea" class="form-control" id="subarea" placeholder="Sub Area">
            </div>
             <div class="mb-3">
              <label for="id">TSN ID</label>
              <input type="text" class="form-control" v-model="customerData.children[0].children[0].children[0].children[0].ID"  name="customerLifetimeValue" id="id" placeholder="TSN ID">
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" @click="addSTBEntry">Add Entry[TSN]</button>
          </form>
        </div>
      </div>
    </div>
</template>
<script>
import axios from "axios";
import Apis from "../../services/Api";
import Router from "vue-router";
export default {
  name: "AdBox",
  data() {
    return {
      newEntries: [],
      customerData: {
        name: "INDIA",
        children: [
          {
            type: "city",
            name: "Bangalore",
            children: [
              {
                type: "area",
                name: "Bangalore-South",
                children: [
                  {
                    type: "sub-area",
                    name: "Koramangala",
                    children: [
                      {
                        type: "TSN",
                        ID: "1234567890"
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    };
  },
  methods: {
    //   addSTBEntry(e) {
    //       e.preventDefault();
    //       console.log(this.customerData)
    //   },
    addSTBEntry(e) {
      let self = this;
      e.preventDefault();
      console.log("I am posting", this.customerData);
      this.newEntries.push(this.customerData);
      console.log("New Added Entry", this.newEntries);
      self.$router.push("/all_boxes");
    }
  }
};
</script>
<style scoped>
span.is-danger {
  color: red;
}
</style>

