<template>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">TiVo Customer STB Dashboard [Featured Customers]</h1>
          <p class="lead text-muted">This App displays the Featured TiVo Customers in a dashboard. You can view customer, add new customers and do stuff like that.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
           </p>
          <p>
           <a href="#" class="btn btn-secondary my-2">Another Link...</a>
          </p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-6" v-for="customerData in customers">
                 <div class="card mb-4 box-shadow">
                <div class="card-body" >
                   <div class="card-body" >
                    <h5 class="card-title">Customer ID <span class="text-muted col-sm-12 ">{{customerData.children[0].children[0].children[0].children[0].ID}}</span></h5>
                    <table class="table table-striped">
                       <tr>
                        <td>Country</td>
                        <td>{{customerData.name}}</td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td>{{customerData.children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>Area</td>
                        <td>{{customerData.children[0].children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>Sub Area</td>
                        <td>{{customerData.children[0].children[0].children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>ID</td>
                        <td>{{customerData.children[0].children[0].children[0].children[0].ID}}</td>
                      </tr>
                    </table>
                    <router-link :to="{ name: 'SingleBox', params: { id: customerData.children[0].children[0].children[0].children[0].ID, allData: customerData } }" class="btn btn-primary">View Details</router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
</template>
<script>
import Apis from '../../services/Api'
export default {
    name:'MainComponent',
    data() {
      return {
        customers : [
            {
            name : 'INDIA',
            children : [
                {
                    type: 'city',
                    name : 'Bangalore',
                    children : [
                        {
                            type : 'area',
                            name : 'Bangalore-South',
                            children : [
                                {
                                    type : 'sub-area',
                                    name : 'Koramangala',
                                    children : [
                                        {
                                            type : 'TSN',
                                            ID : '1234567890'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        },

        {
            name : 'INDIA',
            children : [
                {
                    type: 'city',
                    name : 'Mumbai',
                    children : [
                        {
                            type : 'area',
                            name : 'Mumbai-South',
                            children : [
                                {
                                    type : 'sub-area',
                                    name : 'Something in Mumbai',
                                    children : [
                                        {
                                            type : 'TSN',
                                            ID : '8765434567'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
        ,
        {
            name : 'INDIA',
            children : [
                {
                    type: 'city',
                    name : 'Chennai',
                    children : [
                        {
                            type : 'area',
                            name : 'Chennai-South',
                            children : [
                                {
                                    type : 'sub-area',
                                    name : 'Somewere in Chennai',
                                    children : [
                                        {
                                            type : 'TSN',
                                            ID : '987654323456'
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }

            ]
            
        }
    },
  mounted() {
			// Apis().get('/all_data')
			// 	.then(response => {
			// 			this.customers = response.data
			// 	})
    },
    methods : {

    }
}
</script>
<style scoped>

</style>


