<template>
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4 box-shadow">
                <h1 class="text-center">TiVo Set Top Box Details...</h1>    
                <div class="card-body">
                   <div class="card-body">
                    <!-- <h5 class="card-title">Customer ID <span class="text-muted col-sm-12 ">{{customerData.children[0].children[0].children[0].children[0].ID}}</span></h5> -->
                     <table class="table table-striped">
                       <tr>
                        <td>Country</td>
                        <td>{{customerData.allData.name}}</td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td>{{customerData.allData.children[0].name}}</td>
                      </tr>
                       <tr>
                        <td>Area</td>
                        <td>{{customerData.allData.children[0].children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>Sub Area</td>
                        <td>{{customerData.allData.children[0].children[0].children[0].name}}</td>
                      </tr>
                      <tr>
                        <td>ID</td>
                        <td>{{customerData.allData.children[0].children[0].children[0].children[0].ID}}</td>
                      </tr>
                    </table> 
                    <p>
                        <router-link :to ="{ name: 'EditBox', params: {id: customerData.allData.customerID, allData : customerData.allData}}" class="col-sm-5 btn btn-info" @click="updateCustomer($event)">Update Customer</router-link>
                        <span class="col-sm-2"></span>
                        <a href="#" class="col-sm-5 btn btn-danger" @click="deleteCustomer($event)">Delete Customer</a>
                        </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</template>
<script>
export default {
    name: 'SingleCustomer',
    data() {
      return {
        customers : []
      }
    },
    methods : {
      updateCustomer(e) {
        e.preventDefault();
        console.log('Customer update function');
      },
      deleteCustomer(e) {
        e.preventDefault();
        console.log('Calling Delete Function...')
      }
    },
        mounted() {
            },
         created() {
            this.id = this.$route.params.id
            this.customerData = this.$route.params
            if(this.$route.query.debug) {
                this.debug = this.$route.query.debug;
            }
            console.log('This is to be populated', this.customerData)
        }
}
</script>
<style scoped>

</style>

