<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <router-link class="navbar-brand" to="/">Tivo TSN's</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <router-link class="nav-link" to="/">DashBoard</router-link>
          </li>
          <li class="nav-item">
             <router-link class="nav-link" to="/all_boxes">All SetTop Boxes</router-link>
          </li>
         
          <li class="nav-item">
            <router-link class="nav-link" to="/add_box">Add A New Entry</router-link>
          </li>
        </ul>
      </div>
    </nav>
</template>
<script>
export default {
    
}
</script>
<style>

</style>

